@use "../../utils/functions/" as *;
@use "../../utils/mixins/" as *;

.initiatives {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    &:not(:last-child) {
      padding-bottom: rem(86);
    }

    &:last-child {
      padding-top: rem(86);
    }

    &--reverse {
      flex-direction: row-reverse;
      padding-top: rem(86);
    }

    img {
      overflow: hidden;
      border-radius: calc(var(--radius-main) * 8);
    }
  }

  &__content {
    width: 100%;
    max-width: 610px;

    p {
      &:first-of-type {
        margin-bottom: 27px;
      }
    }
  }

  @include media(tablet) {
    &__item {
      flex-direction: column;

      &:not(:last-child) {
        padding-bottom: 20px;
      }

      &:last-child {
        padding-top: 20px;
      }

      &--reverse {
        padding-top: 20px;
      }

      img {
        aspect-ratio: 12/9;
      }
    }

    &__content {
      max-width: 100%;
    }
  }
}
