@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.contacts {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 106px;
    min-height: 500px;
    border-radius: calc(var(--radius-main) * 8);
    background-color: var(--color-green-900);
  }

  &__content {
    width: 100%;
    max-width: 715px;
  }

  img {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    right: -91px;
    overflow: hidden;
    border-radius: calc(var(--radius-main) * 3);
  }

  &__inner {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid var(--color-grey-10);
    border-radius: calc(var(--radius-main) * 3);
    padding: 24px;
    width: 100%;
    max-width: 596px;
    box-shadow: 106px -86px 100px 0 rgba(39, 113, 160, 0.14);
    color: var(--color-grey-400);
    background: linear-gradient(90deg, rgba(254, 254, 254, 0.7) 0%, rgba(218, 246, 202, 0.7) 100%);
    backdrop-filter: blur(66px);
    gap: 24px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 612px;
    gap: 24px;

    label {
      width: 100%;
    }

    input {
      border-radius: 16px;
      padding: 16 24px;
      width: 100%;
      max-width: 100%;
      background-color: rgba(255, 255, 255, 0.08);
      color: var(--color-white);

      &::placeholder {
        line-height: 1.33;
        color: var(--color-white);
      }
    }
  }

  h2 {
    color: var(--color-white);
    margin-bottom: 48px;
  }
}
