@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  $root: &;

  &__inner {
    display: flex;
    align-items: center;
    padding-right: max(16px, calc((100% - 1244px) / 2));
  }

  &__image {
    position: relative;
    // flex-shrink: 0;
    width: calc(100% - 610px);

    // &::before {
    //   content: "";
    //   position: absolute;
    //   z-index: 1;
    //   background: var(--gradient-green);
    //   inset: 0;
    // }
  }

  &__content {
    flex-shrink: 0;
    width: 100%;
    max-width: 610px;

    p {
      margin-bottom: 32px;
    }
  }

  &--reverse {
    #{$root}__inner {
      padding-right: 0;
      padding-left: max(16px, calc((100% - 1440px) / 2));
    }

    #{$root}__content {
      margin-right: 130px;
    }
  }
}
