@use "../utils/functions/" as *;
@use "../utils/mixins/" as *;

.hero {
  &__inner {
    display: flex;
    align-items: center;
    padding-right: max(16px, calc((100% - 1244px) / 2));
  }

  &__image {
    flex-shrink: 0;
    width: calc(100% - 610px);
  }

  &__content {
    flex-shrink: 0;
    width: 100%;
    max-width: 610px;

    p {
      margin-bottom: 32px;
    }
  }



  @include media(tablet) {
    &__inner {
      flex-direction: column-reverse;
      padding: 0 16px;
      gap: 24px;
    }

    &__image {
      margin-right: 0;
      width: fit-content;
    }
  }
}